body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  font-size: 1vw;
}
<<<<<<< HEAD
=======
*{
    border:0;
    padding:0;
    box-sizing: border-box;
}

html {
	font-size: 1vw;
}

>>>>>>> 2cbaadeda2243d9b865f6bc020fed6798684e3d9
