.resume{
    
    margin:25px;
    padding: 20px;
    border: 1px solid rgb(229, 226, 226); 
    min-height: 100vh;
    width:50vw;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: 5px 5px rgb(252, 247, 247);
}
.template2{
    display: flex;
    gap:10px;
    padding:16px;
}
.scrollableResume{
overflow-y: scroll;
width:50%; 
height:90vh; 
border:1px solid rgba(0, 0, 0, 0.316);
}
.resume-holder{
    display: flex;
    justify-content: center;
    
}
.heading-name{
    font-size: 2.5rem;
    color: rgb(32, 93, 169);
}
.heading-position{
    font-size: 24px;
    color: rgb(109, 109, 109);
}
.heading-introduction{
    font-weight: 800;
    color:black;
    font-size: large;
}
.contact-list{
    display: flex;
    list-style-type: none;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;

}

.skills li{
    font-size: 0.8rem;
    padding: 0.3rem 0.9rem;
    margin: 0.1rem;
  
    border:none;
    border-radius: 8px;
    background-color:  rgb(32, 93, 169);
    color: white;

}


h1{
    color: rgb(32, 93, 169);
    font-size: 1.7rem;
    
}



.heading-education{
    font-weight:900;
    color: black;
    font-size: 1.5rem;
}

.date-education{
    font-style: italic;
    color: rgb(133, 133, 133);
}

.sub-heading-education{
    font-weight: 700;
    color: black;
    font-size: 1.3rem;
}

.contact-list{
    padding-left: 0rem;
    justify-content: space-evenly;
}

.work-experience-sub-container{
    border-left:2px solid lightgray ;
}
.work-experience ul{
    list-style-type: "->";

}
.work-experience li{
   padding: 10px;
}

.work-experience {
    margin-bottom: 30px;
 }

 .work-experience-heading {
    font-size: 1.3rem;
    font-weight: 700;
    color: black;
 }

 .work-experience-sub-heading {
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
 }
 .modalOpener{
    border:1px solid rgba(0, 0, 0, 0.181);
    display: flex;
    justify-content: space-between;
    padding:8px;
    justify-content: space-between;
    align-items: center;
 }
 .modalOpener:hover{
    cursor: pointer;
 }
 .modalOpener div{
    background-color: white;
    padding-left: 40%;
    display: flex;
    justify-content: flex-end;
   
 }

 .editFormHolderHolder{
    width:50%;
    display: flex;
    flex-direction: column;
    height:50vh;
 }
.editFormHolder{
    display: flex;
    flex-direction: column;
    width: 100% ;
    justify-content: center;
}